# Misc
.DS_Store
.fleet

# VS
.vs

# VSC
.history

# IntelliJ
.idea

# Logs
logs
*.log

# Local env files
.env
.env.*
!.env.example

# Node dependencies
node_modules

# Build output
.output
__transpiled